# Server Configuration
SERVER_PORT=3000
SERVER_READ_TIMEOUT=5
SERVER_WRITE_TIMEOUT=10
SERVER_IDLE_TIMEOUT=120

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=conevent
DB_SSLMODE=disable

# Observabilidade
OBS_SERVICE_NAME=conevent-backend
OBS_SERVICE_VERSION=1.0.0
OBS_TRACE_EXPORTER=jaeger
OBS_OTLP_ENDPOINT=localhost:4317
OBS_PROMETHEUS_PORT=9090
